.language {
    display: flex;
    flex-direction: row;

    @include respond(md) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        width: 2rem;
        margin-right: 1rem;

        @include respond(md) {
            width: 5rem;
            margin-bottom: 1rem;
        }
    }
}

