.language {
    display: flex;
    flex-direction: row;

    @include respond(md) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        width: 2rem;
        @include respond(md) {
            width: 5rem;
        }
    }
}

