// COLORS

//$color-primary: #FFB606;
//$color-primary-light: #FFE002;
//$color-primary-dark: #B28228;

$color-primary: #00017A;
$color-primary-light: #151EA6;
$color-primary-dark: #03005B;


$color-secondary-light: #548CF6;
$color-secondary-dark: #325DE9;

$color-tertiary-dark: #38006b;
$color-tertiary-light: #6a1b9a;



$color-black: #1C1C1C;
$color-gray: #3B3B3B;

$color-white: #fff;

